<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div style="text-align:center">
  <video id="vid1" class="azuremediaplayer amp-default-skin" autoplay controls width="640" height="400" poster="poster.jpg" data-setup='{"nativeControlsForTouch": false}'>
      <source src="//seusherams-usct.streaming.media.azure.net/af2c715e-a858-4718-be1f-b64d6fd9c044/video.ism/manifest" type="application/vnd.ms-sstr+xml" />
  </video>
</div>
<router-outlet></router-outlet>
